<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>user email : </strong><%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>

<div class="container">
  <h3>My Event - que c'est moi qui les ai créés</h3>

  <%= puts @my_event %> 
</div>